RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]


IndexIgnore *

RewriteCond {REQUEST_URI} !=/guca
RewriteRule ^(/)?$ public [L]

SetEnv APPLICATION_ENV development
addDefaultCharset utf-8


        